
.employee_background_image {
         width: 1200px;
         height: 600px;
         padding: 100px;
         margin-top: 100px;
         box-shadow: 10px 10px 20px 20px orange;
         background-image: url("employee_background_image.jpg");
         background-size: cover;
}


.style{
    background-repeat: no-repeat;
    background-size: cover;
}

/*.employee_image{
   text-align: center;
   margin: 10px;
}
.image_styles{
   width: 20%;
   border-radius: 50%;
  }*/


body
{
font-family: Arial;
}
form
{
border: 2px solid #8A8484;
width: 500px;
margin: auto;
margin-top: 80px;
     }

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancel {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
}

.reset {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;

}
.container {
  padding: 16px;
  width:20%
  margin-right:80px;

}



