<!DOCTYPE html>
<html>
<head>
</head>

<link rel="stylesheet" href="../static/style/style.css"/>
<script src="../static/script/hot_beverages.js"></script>

<style>
        table, th, td {
        border: 1px solid white;
        }

</style>
</head>

<body background="../images/fruits_background.jpg">

<h1>COLD BEVERAGES</h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items.." title="Type in a name">

<ul id="myUL">

    <table>
        <tr>
            <td valign="top">
                <table>


                    <tbody>
                    <li><a href="#">Apple <input type="button" value="Add to cart" class="icon"
                                                 onclick="AddtoCart('Apple',1)"/></a></li>
                    <li><a href="#">Banana <input type="button" value="Add to cart" class="icon"
                                                  onclick="AddtoCart('Banana',1)"/></a></li>

                    <li><a href="#">Carrot <input type="button" value="Add to cart" class="icon"
                                                  onclick="AddtoCart('Carrot',1)"/></a></li>
                    <li><a href="#">Guava <input type="button" value="Add to cart" class="icon"
                                                 onclick="AddtoCart('Guava',1)"/></a></li>

                    <li><a href="#">Mousambi <input type="button" value="Add to cart" class="icon"
                                                    onclick="AddtoCart('Mousambi',1)"/></a></li>
                    <li><a href="#">Musk Melon <input type="button" value="Add to cart" class="icon"
                                                      onclick="AddtoCart('Musk Melon',1)"/></a></li>

                    <li><a href="#">Orange <input type="button" value="Add to cart" class="icon"
                                                  onclick="AddtoCart('Orange',1)"/></a></li>
                    <li><a href="#">Papaya <input type="button" value="Add to cart" class="icon"
                                                  onclick="AddtoCart('Papaya',1)"/></a></li>
                    <li><a href="#">Pine apple <input type="button" value="Add to cart" class="icon"
                                                      onclick="AddtoCart('Pine apple',1)"/></a></li>
                    <li><a href="#">Pomegranate <input type="button" value="Add to cart" class="icon"
                                                       onclick="AddtoCart('Pomegranate',1)"/></a></li>

                    <li><a href="#">Strawberry <input type="button" value="Add to cart" class="icon"
                                                      onclick="AddtoCart('Strawberry',1)"/></a></li>
                    <li><a href="#">Water Melon <input type="button" value="Add to cart" class="icon"
                                                       onclick="AddtoCart('Water Melon',1)"/></a></li>


                    </tbody>


                </table>
            </td>
            <td valign="top">
                <table id="ordered_item_title">
                    <thead>
                    <tr>
                        <td>
                            Itemname
                        </td>
                        <td>
                            Quantity
                        </td>
                    </tr>
                    </thead>
                    <tbody id="ordered_items_list">
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</ul>


</body>
</html>
