<!DOCTYPE html>
<html>
<head>
</head>

<link rel="stylesheet" href="../static/style/style.css"/>
  <script src="../static/script/hot_beverages.js"></script>
</head>
<body background="../images/fruits_background.jpg">

<h1>COLD BEVERAGES</h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items.." title="Type in a name">

<ul id="myUL">
 <li><a href="#">Apple     <button type="submit">Apple</button></a></li>
  <li><a href="#">Banana</a></li>

  <li><a href="#">Carrot</a></li>
  <li><a href="#">Guava</a></li>

    <li><a href="#">Mousambi</a></li>
  <li><a href="#">Musk Melon</a></li>

  <li><a href="#">Orange</a></li>
  <li><a href="#">Papaya</a></li>
    <li><a href="#">Pine apple</a></li>
  <li><a href="#">Pomegranate</a></li>

  <li><a href="#">Strawberry</a></li>
  <li><a href="#">Water Melon</a></li>

</ul>



</body>
</html>
