<!DOCTYPE html>
<html>
<head>
    <title>ThoughtWorks_Cafeteria</title>
    <link rel="stylesheet" href="../static/style/employee_page_style.css"/>
    <script src="../static/script/hot_beverages.js"></script>
</head>
<body background="../images/employee_background_image.jpg" class="style" class="employee_background_image">
<form action="/types_of_beverages" method="post">
    <div class="container">

        <label for="number"><b>Employee ID</b></label>
        <input type="number" name="employee_id" id="number" placeholder="Enter your ID ..." required>

        <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="username" placeholder="Enter your name ..." required><br>


        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="reset" class="reset">Reset</button>
    </div>


    </div>
</form>
<form action="/">
        <div class="container" style="background-color:#f1f1f1">
            <button type="submit" >Back</button>
        </div>
    </form>
</body>
</html>
