<!DOCTYPE html>
<html>
<head>
    <title>ThoughtWorks_Cafeteria</title>
    <link rel="stylesheet" href="../static/style/employee_page_style.css"/>

</head>
<body background="../images/employee_background_image.jpg" class="style" class="employee_background_image">
<form action="types_of_beverages.html">
    <div class="container">

  <label for="number"><b>Employee ID</b></label>
    <input type="number" id="number" placeholder="Enter your ID ..."  required>

    <label for="username"><b>Username</b></label>
    <input type="text" id="username" placeholder="Enter your name ..."  required><br>


    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
   <form action="login_page.html">
        <a href="login_page.html" class="cancel">Back</a>
   </form>
   <button type="reset" class="reset">Reset</button>
  </div>
</form>
</img>
</body>
</html>
