<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" href="../static/style/style.css"/>
  <script src="../static/script/hot_beverages.js"></script>
</head>
<body background="../images/coffee_background.jpg" class="coffee_background">

<center><h1>HOT BEVERAGES</h1></center>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items..">

<ul id="myUL">
    <li ><a href="#">Coffee</a>Count: <input type="number" id="myNumber">
    <button onclick="myFunction()">+</button>
    <button onclick="myFunction1()">-</button></li>
  <li><a href="#">Tea</a></li>

  <li><a href="#">Milk</a></li>
  <li><a href="#">Boost</a></li>
  <li><a href="#">Horlicks</a></li>

</ul>


</body>
</html>
