
<html>
<head>
     <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body background="../static/assets/beverages_background.jpg">

  <div >
       <form action="/beverages-for-cold" method="post">
      <div class="cold_beverages_image">
          <input type="hidden" name="employeeid" value="{{item}}">
          <input type="image" src="../static/assets/cold_beverages_image.jpg" class="cold_beverages_styles"><center><h1>Cold Beverages</h1></center></div>
</form>
      <form action="/beverages-for-hot" method="post">
      <div class="hot_beverages_image">
           <input type="hidden" name="employeeid" value="{{item}}">
    <input type="image" src="../static/assets/hot_beverages_image.jpeg" class="hot_beverages_styles"><center><h1>Hot Beverages</h1></center></div></form>
  </div>

</body>
</html>
