<!DOCTYPE html>
<html>
<head>
    <title>ThoughtWorks_Cafeteria</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body background="../static/assets/home_background_image.jpg" class="style">

<div class="set_background_image">

    <b>
        <h1> WELCOME TO <p>THOUGHTWORKS CAFETERIA</p></h1>
    </b>

    <form action="/employee-login">
        <button class="login">Employee</button>
    </form>

    <form action="/vendor-login">
        <button class="login">Vendor</button>
    </form>

</div>

</body>
</html>


